storage/temp/
assets/uploads/
.idea/
*.class

# Mac
.DS_Store

# PHP
vendor/

# Environment files
web/.env

android/app/build/
android/.gradle/
ios/build/
ios/DerivedData/
ios/.build/
android_ls.txt

# Build artifacts
soloreel-release-apk*
*.apk
*.aab